body{
    color: #fff;
}
.header-box{
    padding-top: 20px;
    background-color: #f00;
    text-align: center;  
}
.header-title{
    font-size: 60px;
    text-shadow: 2px 2px #000; 
}
.navigation{
    padding: 5px;
    background-color: orange;
}
.navigation-li{
    list-style-type: none;
    display: inline;
    padding: 40px;
    font-size: 20px;    
}
.navigation-a{
    color: #fff; 
    text-decoration: none;
    font-weight: 700;
    }
.navigation-a:hover{
    color: #000; 
}
.main-box{
    background-color: #080;
    padding-top: 10px;
    padding-bottom: 10px;
}
.post-header{
    margin-top: 0;
    font-size: 30px;
    text-shadow: 2px 2px #000;
}
.post {
    background-color: #00f;
    padding: 10px;
    margin: 10px;   
}
.site-footer{
    background-color: purple;
    text-align: center;
    font-size: 40px;
    padding: 20px;  
}