* {
    font-family: Inter, sans-serif; 
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.histogram-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--main-contrast-max-2, #ACB5BD);
    border-radius: 8px;
    width: 354px;
    height: 185px;
    padding: 16px 24px 24px 24px;
    box-sizing: border-box;
}

.title-text {
    display: inline; 
}

.title-ref {
    float:right;
    text-decoration: none;
    color: var(--primary, #4263EB);
}

.title-ref:hover {
    color: var(--primary-deeper, #2342C0);
}

.title-number {
    margin-top: 6px;
    font-size: 20px;
    line-height: 26px;
}

.histogram {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: flex-end;
}

.histogram__bar {
    background-color: var(--primary, #4263EB);
    flex-grow: 1;
    margin-right: 1px;
}